/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    /* box-sizing: border-box; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
    margin: 0% 15%;
    background-color: white;
}

header{
    display: flex;
    align-items: center;
    padding-top: 3%;
    background-color: white;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

header a{
    display: flex;
    color: grey;
    text-decoration: none;
}

header a:hover{
    color: black;
}

.logo{
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.CTASection{
    display: flex;
    justify-content: space-around;
    padding: 4% 3%;
    margin: 2% 0px;
    width: 0 auto;
}

.CTAbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CTA{
    font-size: 80px;
    text-align: center;
    margin-top: 10%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    margin-bottom: 10%;
    border: solid black 1px;
}

.CTASection button:hover{
    color: white;
    background-color: grey;
}

.image {
    display: flex;
}

hr{
    border: 1px solid black;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contentCard1, .contentCard2{
    flex-direction: column;
    width: 48%;
    margin: 3% 7px;
    margin-left: 0;
    line-height: 1.2;
}

.contentCard3, .contentCard4, .contentCard5{
    width: 32%;
    margin: 4% 4px;
    margin-left: 0;
    line-height: 1.2;
}

.middle-img {
    width: 100%;
}

footer{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 3% 0;
    line-height: 2;
}

address{
    margin-top: -4px;
    margin-bottom: 12px;
    line-height: 1;
}

.copyright{
    margin-top: 3%;
    text-align: center;
}

.contact{
    line-height: 2;
}

/* tablet */

@media (max-width:800px){
    body{
        margin-left: 3%;
        margin-right: 3%;
        padding-bottom: 100%;
    }

    .image{
        display: none;
    }

    header{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 3%;
    background-color: white;
    }

    header .logo{
        justify-content: center;
        padding-bottom: 4%;
    }

    header nav{
        width: 100%;
    }

    .CTASection{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .contentCard3, .contentCard4, .contentCard5{
        display: flex;
        flex-direction: column;
        width: 32%;
        margin: 4% 4px;
        margin-left: 0;
        padding-right: 5px;
        line-height: 1.2;
    }

    .copyright{
        margin-top: 50px;
    }
}

/* mobile */

@media (max-width: 500px){
    body{
        margin: 0 auto;
    }

    header nav{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    nav a{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: solid lightgray 1px;
    }

    nav a:last-child{
        border-bottom: solid lightgray 1px;
    }

    hr{
        border: 1px solid black;
        margin-left: 3%;
        margin-right: 3%;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contentCard1, .contentCard2{
        width: 90%;
        margin-top: 5%;
    }

    .middle-img{
        width: 90%;
        padding: 2%;
    }

    .contentCard3, .contentCard4, .contentCard5{
        width: 90%;
        margin-top: 5%;
    }

    footer{
        margin-left: 3%;
    }
}